/* font-family: 'Electrolize', sans-serif;
font-family: 'Gruppo', sans-serif;
font-family: 'Special Elite', cursive;
font-family: 'Ysabeau SC', sans-serif; */

* {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --main-color: ;
    --sea-sprite: ;
    --hit-sprite: ;
    --sub-sprite: ;
    --des-sprite: ;
    --cru-sprite: ;
}

body {
    height: 100vh;
    padding: 10vmin;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10vmin;
    padding: 1vmin;
}

.gamespace {
    display: flex;
    flex: column;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    gap: 2vmin;
    padding: 1vmin;
    background-color: aqua;
}

title {
    background-color: sandybrown;
    display: flex;
    padding: 1vmin;
    flex-grow: 1;


}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 60vmin;
    width: 60vmin;
}

.board {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 60vmin;
    width: 60vmin;
}

.shipcounter {
    display: flex;
    justify-content: space-around;
    gap: 0.8vmin;
    background-color: sandybrown;
    flex-grow: 1;
}






#turncounter {
    background-color: gray;
    flex-grow: 2;
}






.column {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-content: center ;
    width: auto;
    height: auto;
    
    background-color: transparent;

}

.cell {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 5.5vmin;
    height: 5.5vmin;
    border: 0.2vmin solid slategray;
    background-color: lightgray;

}



div {
    display: flex;
    border-color: red;
    background-color: grey;
    width: 4vmin;
    height: 4vmin;

}

#playerboard{

}

#aiboard{

}

