/* font-family: 'Electrolize', sans-serif;
font-family: 'Gruppo', sans-serif;
font-family: 'Special Elite', cursive;
font-family: 'Ysabeau SC', sans-serif; */

* {
    box-sizing: border-box;
    margin: 0;
}

:root {
    --main-color: ;
    --sea: lightblue;
    --sea-sprite: ;
    --hit-sprite: ;
    --sub-sprite: ;
    --des-sprite: ;
    --cru-sprite: ;
}

body {
    height: 100vh;
    padding: 10vmin;
    background-color: lightslategray;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    gap: 1vmin;
    padding: 1vmin;
    flex-grow: 0;
    
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 80vmin;
    width: 60vmin;
}

#controls {
    flex-direction: column;
    flex-wrap: wrap;
    border: 0.6vmin solid darkred;
    height: 70vmin;
    width: 15vmin;
    align-self: flex-end;
    gap: 1vmin;
}

#message {
    display: flex;
    font-size: 10vmin;
    color: white;
    align-items: center;
    flex: 3;
    text-align: center;

}

#start {
    display: flex;
    align-self: center;
    align-items: center;
    background-color: red;
    border: 0.6vmin solid darkred;
    border-radius: 1vmin;
    font-size: 2vmin;
    flex: 1;
    visibility: hidden;

}

#deploy {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    align-content: space-around;
    gap: 3vmin;
    background-color: slateblue;
    border: 0.6vmin solid darkblue;
    border-radius: 1vmin;
    font-size: 2vmin;
    flex: 1;
    visibility: visible;
}

.gamespace {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    gap: 2vmin;
    padding: 1vmin;
    /*background-color: lightblue;*/
}

title {
    color: black;
    font-size: 2em;
    font-family: 'Ysabeau SC', sans-serif;
    display: flex;
    padding: 1vmin;

}


.board {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 60vmin;
    width: 60vmin;
}

.shipcounter {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items:center;
    gap: 0.8vmin 0.5vmin;
    padding: 1vmin;
    background-color: lightgrey;
    flex-grow: 1;
    border: 0.6vmin solid darkslategray;
    border-radius: 1vmin;

}


.row {
    display: flex;
    justify-content: center;
    align-content: center ;
    width: auto;
    height: auto;
    background-color: transparent;
}

div {
    display: flex;
    background-color: grey;
    width: 4vmin;
    height: 4vmin;

}

.cell {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 5.5vmin;
    height: 5.5vmin;
    border: 0.2vmin solid slategray;
    border-radius: 5%;
    background-color: lightgray;

}


#playerboard{
    background-color: lightblue;
    border-radius: 1vmin;

}

#aiboard{
    background-color: lightblue;
    border-radius: 1vmin;

}

.sub {
    height: 4vmin;
    width: 8vmin;
}

.destroyer {
    height: 4vmin;
    width: 12vmin;
}

.cruiser {
    height: 4vmin;
    width: 16vmin;
}

.carrier {
    height: 4vmin;
    width: 20vmin;
}

#psub3 {
    margin-right: 2vmin;
}

#pdestroyer2 {
    margin-right: 2vmin
}

#asub3 {
    margin-right: 2vmin;
}

#adestroyer2 {
    margin-right: 2vmin
}